<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watunyu NodeJs</title>
    <style>
        body{
            background: pink;
            color : black;
            padding: 30px;
        }
        h1{
            text-align: center;
        }
        p{
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Daatabase</h1>
    <%- include ('nav.ejs') %>
    
</body>

</html>