<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watunyu NodeJs</title>
    <style>
        body {
            background: skyblue;
            color: #fff;
            padding: 30px;
        }

        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    </style>
</head>

<body>
    
    <h1>Profile</h1>
    <p>User: <%= person.name %> </p>
    <p>Age: <%= person.age %></p>
    <p>Job: <%= person.job %></p>
    <%- include ('nav.ejs') %>
</body>

</html>